page-expo-details {
    .container{
        display: flex;
        flex-direction: column;
        color: white;
    }
    img {
        width: 20rem;
        margin: 0 auto;
    }
    .name-section {
        text-align: center;
        font-size: 3rem;
        margin: 2rem;
    }
    .desc-section {

    }
}
