page-program {
    .scroll-content {
        border-top: none !important;
    }
    .swipe-content {
        height: 100%;
    }
    .event-container {
        margin: 1.5rem 0.5rem;
    }
    ion-segment {
        width: 90%;
        margin: 1rem auto 0 auto;
    }
}
