page-expo {
    .page-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        .img-container {
            display: flex;
            justify-content: center;
            height: 20rem;

            img {
                height: 100%;
            }
        }
        ion-scroll {
            flex-grow: 1;
            margin-top: 1rem;
            /*> .scroll-content {

            }*/
        }
        .expo-container {
            margin: 1.5rem 0.5rem;
        }
    }
}