main-button {
    .container {
        background-color: rgba(255,255,255,0.1);
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        .title {
            font-size: 2rem;
        }
        .icon {
            ion-icon {
                font-size: 8rem;
            }
        }
        > * {
            text-align: center;
        }
    }
}
