@import '../../app/breakpoints';
@import '../../app/flexbox';

main-button {
    .comp-container {
        background-color: rgba(255,255,255,0.1);
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        @include gap(1rem 0);
        justify-content: center;
        .title {
            font-size: 1.7em;
            @include media-height(md){
                font-size: 2em;
            }
            flex-basis: 50%;
            flex-grow: 1;
        }
        .icon {
            flex-grow: 1;
            ion-icon {
                font-size: 4em;
                @include media-height(md){
                    font-size: 5em;
                }
            }
        }
        > * {
            text-align: center;
        }
    }
}
