@import '../../app/flexbox';

page-home {
    .page-container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        @include gap(1rem);
        > div {
            flex-basis: 25%;
            flex: 1;
        }
        .img-container {
            display: flex;
            align-items: center;
            img {
                padding: 0 2rem;
                width: 100%;
                margin: 0 auto;
            }
        }
        .top-container {
            display: flex;
            flex-wrap: wrap;
            @include gap(1rem);
            > * {
                flex: 1;
                min-width: 140px;
            }
            
        }
        .bot-container {
            display: flex;
            > * {
                flex: 1;
            }
        }
    }
}
