page-home {
    .main-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 1rem 0;
        > div {
            height: 25%;
            min-height: 15rem;
            
        }
    }
    .img-container {
        img {
            height: 100%;
            display: block;
            margin: 0 auto;
        }
    }
    .top-container {
        display: flex;
        justify-content: space-between;
        min-width: 30rem;
        > div {
            width: 45%;
            
        }
    }
    .bot-container {
        min-width: 30rem;
    }
}
