info-profile {
    .container {
        display: flex;
        background-color: rgba(255,255,255,0.1);
        margin: 2rem 1rem;
        height: 11rem;
        min-width: 35rem;
    }
    .image {
        min-width: 11rem;
        height: 100%;
    }
    .details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 1rem;
        p {
            margin: 0.25rem;
            color: white;
        }
    }
    .name {
        font-size: 2rem;
        font-weight: bold;
    }
    .title {
        font-weight: bold;
        text-transform: uppercase;
    }
}
