<!-- Generated template for the EventListItemComponent component -->
<div class="container">
  <div class="timeDiv" (click)="presentationClicked()" [innerHTML]=formattedTime()>
  </div>
  <div class="textDiv" (click)="presentationClicked()">
    <div class="titleDiv">{{presentation.title}}</div>
    <div *ngIf="presentation.break != 1" class="performerDiv">{{presentation.performer}}</div>
  </div>
  <div *ngIf="presentation.break != 1" class="heartDiv" (click)="favoriteClicked()">
    <ion-icon name="{{isFavorite()}}"></ion-icon>
  </div>
</div>