@import '../../app/breakpoints';
@import '../../app/flexbox';

event-list-item {
    .comp-container {
        display: flex;
        @include media-maxwidth(sm){
            flex-wrap: wrap;
        }

        @include gap(0.5rem 1rem);
        background-color: rgba(255,255,255,0.1);
        color: white;
        justify-content: space-between;

        .timeDiv {
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
       }
       .textDiv {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include media-maxwidth(sm){
                order: 1;
            }
            .titleDiv {
                font-size: 2rem;
                font-weight: bold;
            }
            .performerDiv {
                margin-top: 1rem;
            }
       }
       .heartDiv {
            display: flex;
            align-items: center;
            ion-icon {
                font-size: 4rem;
                margin: 0 1rem;
            }
        }
    }
}
