$width-breakpoints: (
  sm: 330px,
  md: 370px
);

$height-breakpoints: (
  sm: 500px,
  md: 800px,
  lg: 1000px,
  xl: 1300px
);

@mixin media-minwidth($key, $breakpoints: $width-breakpoints) {
  @media (min-width: map-get($breakpoints, $key)) {
    @content;
  }
}

@mixin media-maxwidth($key, $breakpoints: $width-breakpoints) {
  @media (max-width: map-get($breakpoints, $key)) {
    @content;
  }
}

@mixin media-height($key, $breakpoints: $height-breakpoints) {
  @media (min-height: map-get($breakpoints, $key)) {
    @content;
  }
}