<ion-header class="header-bg" [ngClass]="{' androidHeader': isAndroid }" no-border>
    <ion-navbar>
        <konfapp-header></konfapp-header>
    </ion-navbar>
</ion-header>

<ion-content class="has-header">
      <div padding>
            <h2>A konferencia</h2>
            <p class="about">
                A Simonyi Konferencia a Simonyi Károly Szakkollégium által megrendezett éves szakmai rendezvény, amelyen számos külföldi és hazai előadó mutatja be legfrissebb felfedezését, kutatási eredményét, technológiai újítását. Mindezt a Budapesti Műszaki és Gazdaságtudományi Egyetem Villamosmérnöki és Informatikai Karának I épületében, április 13-án.
                <br>A Simonyi Károly Szakkollégium, az ország egyik legnagyobb szakkollégiuma, lehetőséget biztosít az informatikus és villamosmérnök hallgatók számára, hogy egyetemi tanulmányaik alatt már kézzelfogható, gyakorlati tapasztalatra tegyenek szert, és találkozhassanak a szakma kiemelkedő alakjaival.
            </p>
            <br>
            <h2>Főtámogató</h2>
            <ion-grid>
                  <ion-row>
                        <ion-col width-66>
                              <img src="resources/tamogatok/nng.png">
                        </ion-col>
                  </ion-row>
            </ion-grid>
            <br>
            <br>
            <h2>Kiemelt támogatók</h2>
            <ion-grid>
                  <ion-row>
                        <ion-col width-45>
                              <img src="resources/tamogatok/bosch.png" class="second">
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45>
                              <img src="resources/tamogatok/qualisoft.png" class="second">
                        </ion-col>
                  </ion-row>
                  <ion-row>
                        <ion-col width-45>
                              <img src="resources/tamogatok/vodafone.png" class="second center" >
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45>
                              <img src="resources/tamogatok/accenture.png" class="second">
                        </ion-col>
                  </ion-row>
                  <ion-row>
                        <ion-col width-45>
                              <img src="resources/tamogatok/sicontact.png" class="second">
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45>
                              <img src="resources/tamogatok/ni.png" class="second">
                        </ion-col>
                  </ion-row>
                  <ion-row>
                        <ion-col width-45>
                              <img src="resources/tamogatok/vik.png" class="second center">
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45></ion-col>
                  </ion-row>
            </ion-grid>
            <br>
            <br>
            <h2>Támogatók</h2>
            <ion-grid>
               <ion-row>
                <ion-col width-45>
                              <img src="resources/tamogatok/lightware.png" class="second">
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45>
                              <img src="resources/tamogatok/simonyi.png" class="second">
                        </ion-col>
                  </ion-row>
                  <ion-row>
                        <ion-col width-45>
                              <img src="resources/tamogatok/svk.png" class="second">
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45>
                              <img src="resources/tamogatok/sch.png" class="second">
                        </ion-col>
                  </ion-row>
                  <ion-row>
                        <ion-col width-45>
                              <img src="resources/tamogatok/proprog.png" class="second">
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45></ion-col>
                  </ion-row>
                  <br>
                  <br>
                  <br>
                  <ion-row>
                        <ion-col width-45>
                              <img src="resources/developedby.png" class="second">
                        </ion-col>
                        <ion-col width-10></ion-col>
                        <ion-col width-45 style="display: block !important;">
                              <img src="resources/designedby.png" class="second">
                        </ion-col>
                  </ion-row>
            </ion-grid>

      </div>

</ion-content>



