page-information {
    .page-background {
        background: white;
        position: relative;

        .organizer-container{
            margin: 2rem 1rem;
        }
        
        .section-white {
            color: white;
            text-align: center;
        }
        .section-claret {
            color: color($colors, header);
            text-align: center;
            font-weight: bold;
        }

        .supp-section {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img {
                margin: 1.5rem 1rem;
            }
        }
        
        svg {
            @extend .content;
            position: absolute;
            top:0;
            left:0;
            z-index: -1;
        }
    }
}
