page-information {
    .white-background {
        background-color: white;
    }
    .section-white {
        color: white;
        text-align: center;
    }
    .section-claret {
        color: color($colors, header);
        text-align: center;
    }
    .tam {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
            margin: 0.5rem 1rem;
        }
    }
    .fotamogato img{
        height: 6rem;
    }
    .kiemelttamogato img{
        height: 4rem;
    }
    .tamogato img{
        height: 3rem;
    }
    svg {
        background-color:color($colors, bgcolor);
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
    }
}
