page-game {
    
    .loggedout-text {
        color:white;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .input-section{
        background-color: white;
        &, *{
            padding: 0 !important;
        }
    }
    #send-button{
        color: white;
        font-weight: bold;
        border: 3px solid white;
        height: 5rem;
        background-color: transparent;
    }
    
    .page-container{
        display: flex;
        flex-direction: column;
        .loggedin-text {
            color:white;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        
        .qr-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            justify-content: center;
            align-items: center;

            .lightbulb-container {
                height: 15rem;
                > img {
                    height: 100%;
                }
            }

            ngx-qrcode {
                margin: 5rem 0;
            }
        }
    }
}
