page-game {
    
    .loggedout-text {
        color:white;
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .input-section{
        background-color: white;
        &, *{
            padding: 0 !important;
        }
    }
    #send-button{
        color: white;
        font-weight: bold;
        border: 3px solid white;
        height: 5rem;
        background-color: transparent;
    }
    
    .page-container{
        display: flex;
        flex-direction: column;
        height: 100%;
        .loggedin-text {
            color:white;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .qr-container {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
        }
    }
}
