page-admin {
    .expoID-text{
        font-weight: bold;
        font-size: 2rem;
        color:white;
    }
    .admin-button {
        font-weight: bold;
        color: white;
        border: 3px solid white;
        background-color: transparent;
    }
}
