<ion-header class="header-bg" [ngClass]="{' androidHeader': isAndroid }" no-border>
    <ion-navbar>
        <konfapp-header></konfapp-header>
    </ion-navbar>
</ion-header>

<ion-content class="has-header" padding>

<h2 text-uppercase>Kapcsolat</h2>
<ion-list no-lines>
  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="resources/team/alexandra_bagi.jpg" class="picture">
    </ion-thumbnail>
    <h2 class="name">Bagi Alexandra</h2>
    <h3 class="titulus">Főrendező</h3>
    <p class="text"><a href="tel:+36 20 288 7795">+36 20 288 7795</a></p>
    <p class="text"><a href="mailto:bagi.alexandra@simonyi.bme.hu"><b class="pre-tag">bagi.alexandra</b><br>@simonyi.bme.hu</a></p>
  </ion-item>
  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="resources/team/levente_papay.jpg" class="picture">
    </ion-thumbnail>
    <h2 class="name">Pápay Levente</h2>
    <h3 class="titulus">Simonyi Károly Szakkollégium elnök</h3>
    <p class="text"><a href="tel:+36 20 809 3021">+36 20 809 3021</a></p>
    <p class="text"><a href="mailto:papay.levente@simonyi.bme.hu"><b class="pre-tag">papay.levente</b><br>@simonyi.bme.hu</a></p>
  </ion-item>
  <ion-item text-wrap>
    <ion-thumbnail item-left>
      <img src="resources/team/miklos_szappanos.jpg" class="picture">
    </ion-thumbnail> 
    <h2 class="name">Szappanos Miklós</h2>
    <h3 class="titulus">Sajtófelelős</h3>
    <p class="text"><a href="tel:+36 30 798 2273">+36 30 798 2273</a></p>
    <p class="text"><a href="mailto:szappanos.miklos@simonyi.bme.hu"><b class="pre-tag">szappanos.miklos</b><br>@simonyi.bme.hu</a></p>
  </ion-item>
</ion-list>
 
<h2 text-uppercase>Térkép</h2> 

  <map-page></map-page>
</ion-content>



